.recipe {
  border-radius: 20px;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.label {
  font-weight: 500;
  margin-right: 10px;
}
.info {
  font-weight: 200;
}

.instructions {
  white-space: pre-wrap;
}

.ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
.heading {
  margin-bottom: 1rem;
  margin-top: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
